/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Connecting fonts */
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay/Bold/PlayfairDisplay-Bold.woff') format('woff'), url('../fonts/PlayfairDisplay/Bold/PlayfairDisplay-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay/BoldItalic/PlayfairDisplay-BoldItalic.woff') format('woff'), url('../fonts/PlayfairDisplay/BoldItalic/PlayfairDisplay-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay/Italic/PlayfairDisplay-Italic.woff') format('woff'), url('../fonts/PlayfairDisplay/Italic/PlayfairDisplay-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy/Light/Gilroy-Light.woff') format('woff'), url('../fonts/Gilroy/Light/Gilroy-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy/Regular/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy/Regular/Gilroy-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy/Medium/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy/Medium/Gilroy-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Chift Display';
  src: url('../fonts/ChiftDisplay/Bold/ChiftDisplay-Bold.woff') format('woff'), url('../fonts/ChiftDisplay/Bold/ChiftDisplay-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

/* General styles */
:root {
  --font-title: 'Chift Display', sans-serif;
  --font-text: 'Playfair Display', sans-serif;
  --font-additional: Gilroy, serif;
  --color-accent: #f5f5f5;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-second: #3a5896;
  --color-active: #ff0c0a;
  --button-bg: linear-gradient(-65deg, #ff0909 0%, #ff4115 41%, #ff6a47 43%, #ff0909 99%, #ff0909 100%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.wrapper {
  flex: 1 0 auto;
}

.outer-wrapper {
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
}

.container {
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 2.625rem;
  height: 3.125rem;
  object-fit: cover;
}

.logo__text {
  max-width: 9.063rem;
  margin-left: 0.933em;
  font-family: var(--font-text);
  font-size: 0.938rem;
  font-weight: bold;
  font-style: normal;
  line-height: 1.33;
  text-transform: uppercase;
}

.city {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.city__icon {
  width: 0.875rem;
  height: 1.25rem;
  fill: var(--color-second);
}

.city__text {
  margin-left: 1em;
  color: var(--color-dark);
  font-family: var(--font-additional);
  font-size: 0.938rem;
  font-weight: 400;
  transition: color 0.3s linear;
}

.button {
  color: var(--color-light);
  font-family: var(--font-additional);
  font-size: 0.75rem;
  font-weight: 500;
  font-style: normal;
  box-shadow: 0 0.313rem 0.813rem rgba(228, 4, 4, 0.3);
  background: var(--color-active) var(--button-bg) no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s linear;
}

.hamburger {
  position: relative;
  display: none;
  width: 3.166rem;
  height: 2.5rem;
  z-index: 10;
}

.hamburger__span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.333rem;
  background-color: var(--color-dark);
  opacity: 1;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
}

.hamburger__span:first-of-type {
  transform-origin: left top;
  top: 0;
}

.hamburger__span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger__span:last-of-type {
  transform-origin: left bottom;
  bottom: 0;
}

.hamburger--active .hamburger__span:first-of-type {
  transform: rotate(45deg);
  background-color: var(--color-light);
}

.hamburger--active .hamburger__span:nth-of-type(2) {
  opacity: 0;
}

.hamburger--active .hamburger__span:last-of-type {
  transform: rotate(-45deg);
  background-color: var(--color-light);
}

.slider__container {
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  display: flex;
  transition: all 0.3s linear;
}

.slider__slide {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider__slide--active {
  display: flex;
}

.slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.slider__arrow--prev {
  left: 0;
}

.slider__arrow--next {
  right: 0;
}

.slider__icon {
  width: 0.938rem;
  height: 1.625rem;
  fill: #cccccc;
  transition: fill 0.3s linear;
}

.slider__pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.slider__subtitle {
  font-family: var(--font-text);
  font-size: 1.75rem;
  font-weight: 700;
  font-style: italic;
  letter-spacing: normal;
  line-height: 1.04;
}

.pagination__item {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #cccccc;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.pagination__item:not(:last-of-type) {
  margin-right: 0.625rem;
}

.section {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.title {
  color: var(--color-dark);
  font-family: var(--font-title);
  font-size: 2.5rem;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.title--center {
  text-align: center;
}

.text {
  color: var(--color-dark);
  font-family: var(--font-text);
  font-style: italic;
  letter-spacing: normal;
}

.text--strong {
  font-family: var(--font-text);
  font-weight: 700;
  font-style: italic;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.125rem;
  border: 0.5rem solid var(--color-second);
}

.form__title {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  color: var(--color-dark);
  font-family: var(--font-text);
  font-size: 1.375rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin-bottom: 1.363em;
}

.form__subtitle {
  position: relative;
  z-index: 5;
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  margin-top: 1.25em;
}

.form__input {
  padding: 1.461em 3.076em;
  color: var(--color-dark);
  font-family: var(--font-additional);
  font-size: 0.813rem;
  font-weight: 300;
  font-style: normal;
  border-radius: 1.75rem;
  border: 0.063rem solid #e8e8e8;
  background-color: var(--color-light);
  outline: none;
  text-align: center;
}

.form__input::placeholder {
  color: #999999;
}

.form__button {
  position: relative;
  z-index: 5;
  padding: 1.666em 4.25em;
  border-radius: 1.75rem;
  min-width: 14.062rem;
}

.form__text {
  position: relative;
  z-index: 5;
  color: var(--color-dark);
  font-family: var(--font-additional);
  font-size: 0.813rem;
  font-weight: 500;
  font-style: normal;
  margin-top: 2.307em;
  margin-bottom: 2.307em;
}

.form__personal-data {
  position: relative;
  z-index: 5;
  position: relative;
  display: flex;
}

.form__checkbox {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.form__label {
  display: flex;
  color: #999999;
  font-family: var(--font-additional);
  font-size: 0.688rem;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
}

.form__label::before {
  content: '';
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  border: 0.062rem solid #dddddd;
  margin-right: 0.5rem;
}

.form__checkbox:checked + .form__label:before {
  background: #ddd url('../images/check.svg') center no-repeat;
}

.form__label--hidden {
  position: absolute;
  left: -624.937rem;
  z-index: -1;
  opacity: 0;
}

.form__wrap {
  display: flex;
}

.personal-data__link {
  color: inherit;
  margin-left: 0.454em;
  transition: color 0.3s linear;
}

.description {
  color: var(--color-second);
  font-family: var(--font-text);
  font-size: 1.875rem;
  font-weight: 700;
  font-style: italic;
  line-height: 1.43;
}

.description--center {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .city:hover .city__text {
    color: var(--color-second);
  }

  .button:hover {
    box-shadow: none;
    background-position: 12.5rem 0;
  }

  .slider__arrow:hover .slider__icon {
    fill: var(--color-dark);
  }

  .pagination__item:hover {
    background-color: var(--color-second);
  }

  .personal-data__link:hover {
    color: var(--color-dark);
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 575px) {
  .city__icon {
    fill: var(--color-light);
  }

  .city__text {
    color: var(--color-light);
  }

  .hamburger {
    display: block;
  }

  .form__wrap {
    flex-direction: column;
  }
}

/* Header styles */
.header {
  padding-top: 1.562rem;
  padding-bottom: 1.562rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content {
  width: 70%;
  display: flex;
  align-items: center;
}

.header__city {
  margin-right: auto;
}

.header__tel {
  margin-right: 1.666em;
  color: var(--color-dark);
  font-family: var(--font-title);
  font-size: 1.125rem;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  transition: color 0.3s linear;
}

.header__button {
  padding: 1.083em 2.916em;
  border-radius: 1.25rem;
}

@media screen and (min-width: 992px) {
  .header__tel:hover {
    color: var(--color-second);
  }
}

@media screen and (max-width: 575px) {
  .header__content {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 5rem 1.25rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-second);
    transform: translateX(100%);
    z-index: 10;
    opacity: 0;
    transition: all 0.3s linear;
  }

  .header__content.header__content--active {
    transform: translateX(0);
    opacity: 1;
  }

  .header__city {
    margin-right: 0;
    margin-bottom: 1.25rem;
  }

  .header__tel {
    margin-right: 0;
    margin-bottom: 0.833em;
    color: var(--color-light);
  }
}

/* Hero styles */
.hero__content--top {
  position: relative;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  background-color: var(--color-second);
}

.hero__title {
  display: flex;
  flex-direction: column;
  color: var(--color-light);
  font-family: var(--font-title);
  font-size: 3.125rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.04;
}

.hero__content--top::after {
  content: '';
  position: absolute;
  bottom: -1.875rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 3.75rem;
  height: 3.75rem;
  background-color: var(--color-second);
}

.hero__title--small {
  font-size: 1.875rem;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.6;
  text-transform: none;
}

.hero__content--main {
  position: relative;
  padding-top: 2.812rem;
  padding-bottom: 1.25rem;
  background: var(--color-accent) url('../images/hero/hero-bg.jpg') center / cover no-repeat;
}

.hero__content--main .container {
  position: relative;
}

.hero__slider {
  max-width: 46.875rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}

.hero__slide {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.hero__pagination--active {
  background-color: var(--color-second);
}

.hero__text {
  max-width: 10.769em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.73em;
  color: var(--color-dark);
  font-family: var(--font-text);
  font-size: 1.625rem;
  font-weight: 700;
  font-style: italic;
  line-height: 1.38;
  text-align: center;
}

.hero__button {
  padding: 1.666em 3.333em;
  border-radius: 1.75rem;
}

@media screen and (min-width: 992px) {
  .hero__content--main .container::before {
    position: absolute;
    left: 0;
    bottom: -1.437rem;
    z-index: 2;
    content: url('../images/hero/man.png');
  }
  
  .hero__content--main .container::after {
    position: absolute;
    z-index: 2;
    bottom: -17.187rem;
    right: -28.125rem;
    content: url('../images/hero/calc.png');
  }
}

@media screen and (max-width: 767px) {
  .hero__slider {
    max-width: 35.714rem;
  }
  
  .hero__slide {
    min-width: 35.714rem;
  }
}

@media screen and (max-width: 575px) {
  .hero__slider {
    max-width: 25rem;
  }
  
  .hero__slide {
    min-width: 25rem;
  }
}

/* Plight styles */
.plight {
  position: relative;
}

.plight__container {
  display: flex;
  align-items: center;
}

.plight__content {
  max-width: 27.5rem;
}

.plight__title {
  margin-left: 1.125em;
  margin-bottom: 1.375em;
}

.plight__text {
  position: relative;
  z-index: 5;
  padding-top: 2.25em;
  padding-left: 2.25em;
  padding-right: 3.5em;
  font-size: 1.25rem;
  line-height: 1.35;
  background: url('../images/plight/question.png') top left no-repeat;
}

.plight__form {
  max-width: 27.5rem;
  margin-left: 2.687rem;
}

.plight__button {
  margin-top: 1.25em;
}

@media screen and (min-width: 992px) {
  .plight::after {
    position: absolute;
    bottom: -13.625rem;
    left: 50%;
    transform: translateX(-82%);
    content: url('../images/plight/pig.png');
  }
}

@media screen and (max-width: 991px) {
  .plight__form {
    padding-left: 1.071rem;
    padding-right: 1.071rem;
  }
}

@media screen and (max-width: 767px) {
  .plight__container {
    flex-direction: column;
    align-items: center;
  }

  .plight__title {
    margin-left: 0;
    text-align: center;
  }
  
  .plight__text {
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
  }

  .plight__form {
    margin-top: 2.142rem;
    margin-left: 0;
  }
}

/* Procedure styles */
.procedure {
  background-color: var(--color-accent);
}

.procedure__title {
  position: relative;
  margin-bottom: 0.75em;
}

.procedure__description {
  position: relative;
  margin-bottom: 2.666em;
}

.procedure__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.procedure__text {
  max-width: 26.166em;
  width: 48%;
  padding-top: 7.222em;
  padding-left: 8.333em;
  font-size: 1.125rem;
  line-height: 1.44;
}

.procedure__text:first-of-type {
  margin-bottom: 2.5em;
  background: url('../images/procedure/procedure-1.png') top left no-repeat;
}

.procedure__text:nth-of-type(2) {
  margin-bottom: 2.5em;
  background: url('../images/procedure/procedure-2.png') top left no-repeat;
}

.procedure__text:nth-of-type(3) {
  background: url('../images/procedure/procedure-3.png') top left no-repeat;
}

.procedure__text:last-of-type {
  background: url('../images/procedure/procedure-4.png') top left no-repeat;
}

@media screen and (max-width: 991px) {
  .procedure__text {
    padding-top: 8.222em;
  }
}

@media screen and (max-width: 767px) {
  .procedure__content {
    flex-direction: column;
    align-items: center;
  }

  .procedure__text {
    width: 100%;
    padding-top: 10em;
    padding-left: 9em;
  }

  .procedure__text:nth-of-type(3) {
    margin-bottom: 2.5em;
  }
}

/* Cost styles */
.cost__container {
  position: relative;
}

.cost__title {
  margin-bottom: 1.75em;
}

.cost__form {
  width: 100%;
  max-width: 50.625rem;
  margin-left: auto;
  margin-right: auto;
}

.cost__button {
  margin-left: 2.142em;
}

@media screen and (min-width: 992px) {
  .cost__container::after {
    position: absolute;
    bottom: -6.42rem;
    right: -12.187rem;
    content: url('../images/cost/femida.png');
  }
}

@media screen and (max-width: 575px) {
  .cost__button {
    margin-left: 0;
    margin-top: 1.071em;
  }
}

/* Convenience styles */
.convenience {
  background-color: var(--color-accent);
}

.convenience > .container {
  position: relative;
}

.convenience__title {
  margin-bottom: 2.5em;
}

.convenience__content {
  display: flex;
  justify-content: space-between;
}

.convenience__box {
  max-width: 22.5rem;
  width: 33%;
  padding-top: 3.937rem;
  padding-left: 3.937rem;
}

.convenience__box:first-of-type {
  background: url('../images/convenience/convenience-1.png') top left no-repeat;
}

.convenience__box:nth-of-type(2) {
  background: url('../images/convenience/convenience-2.png') top left no-repeat;
}

.convenience__box:last-of-type {
  background: url('../images/convenience/convenience-3.png') top left no-repeat;
}

.convenience__subtitle {
  font-family: var(--font-text);
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 1.15em;
  line-height: 1.3;
}

.convenience__text {
  position: relative;
  color: #666666;
  font-family: var(--font-additional);
  font-size: 0.875rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.43;
}

@media screen and (min-width: 992px) {
  .convenience > .container::before {
    position: absolute;
    content: url('../images/convenience/book.png');
    bottom: -29.687rem;
    left: -25rem;
  }
}

@media screen and (max-width: 991px) {
  .convenience__content {
    justify-content: space-around;
  }

  .convenience__box {
    max-width: 17.142rem;
  }
}

@media screen and (max-width: 767px) {
  .convenience__content {
    align-items: center;
    flex-direction: column;
  }

  .convenience__box {
    max-width: 25rem;
    width: 100%;
    padding-top: 4.937rem;
    padding-left: 4.937rem;
  }

  .convenience__box:not(:last-of-type) {
    margin-bottom: 2.5rem;
  }
}

/* Bankruptcy styles */
.bankruptcy__title {
  margin-bottom: 0.75em;
}

.bankruptcy__description {
  max-width: 17.666em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

.bankruptcy__paginations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 47.812rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.bankruptcy__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.bankruptcy__pagination:first-of-type,
.bankruptcy__pagination:nth-of-type(2),
.bankruptcy__pagination:nth-of-type(3),
.bankruptcy__pagination:nth-of-type(4) {
  margin-bottom: 3.75rem;
}

.bankruptcy__wrap {
  position: relative;
  width: 5.938rem;
  height: 5.938rem;
  background-color: var(--color-second);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.bankruptcy__pagination--active .bankruptcy__wrap{
  background-color: var(--color-active);
}

.bankruptcy__img {
  position: absolute;
  object-fit: contain;
}

.bankruptcy__pagination:first-of-type .bankruptcy__img {
  top: -0.75rem;
  left: -0.625rem;
  width: 6.125rem;
  height: 7.063rem;
}

.bankruptcy__pagination:nth-of-type(2) .bankruptcy__img {
  top: -0.187rem;
  left: -0.062rem;
  width: 5.625rem;
  height: 5.75rem;
}

.bankruptcy__pagination:nth-of-type(3) .bankruptcy__img {
  top: -0.125rem;
  left: -1.187rem;
  width: 6.75rem;
  height: 6.438rem;
}

.bankruptcy__pagination:nth-of-type(4) .bankruptcy__img {
  top: -0.062rem;
  width: 5.563rem;
  height: 6.375rem;
}

.bankruptcy__pagination:nth-of-type(5) .bankruptcy__img {
  top: 0.312rem;
  left: -0.9375rem;
  width: 6.5rem;
  height: 6.063rem;
}

.bankruptcy__pagination:nth-of-type(6) .bankruptcy__img {
  top: 0.625rem;
  left: -0.125rem;
  width: 5.125rem;
  height: 5.438rem;
}

.bankruptcy__pagination:nth-of-type(7) .bankruptcy__img {
  top: 1.5rem;
  left: -1.187rem;
  width: 7.25rem;
  height: 4.813rem;
}

.bankruptcy__pagination:nth-of-type(8) .bankruptcy__img {
  top: 0.187rem;
  left: 0.5rem;
  width: 5.375rem;
  height: 5.938rem;
}

.bankruptcy__slide {
  min-width: 100%;
}

.bankruptcy__subtitle {
  margin-bottom: 1.785em;
  text-align: center;
  line-height: 1.04;
}

.bankruptcy__text {
  max-width: 38.25em;
  width: 67%;
  font-family: var(--font-additional);
  font-size: 1.25rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.45;
  text-align: center;
}

.bankruptcy__arrow {
  transform: translateY(-50%);
}

.bankruptcy__icon {
  width: 1.313rem;
  height: 2.5rem;
  fill: var(--color-dark);
  opacity: 0.2;
  transition: all 0.3s linear;
}

.bankruptcy__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.285em;
  padding: 1.785em 3.214em;
  border-radius: 2.063rem;
}

@media screen and (min-width: 992px) {
  .bankruptcy__wrap:hover {
    background-color: var(--color-active);
  }

  .bankruptcy__arrow:hover .bankruptcy__icon {
    fill: var(--color-dark);
    opacity: 1;
  }
}

@media screen and (max-width: 575px) {
  .bankruptcy__paginations {
    justify-content: center;
  }

  .bankruptcy__pagination:nth-of-type(5),
  .bankruptcy__pagination:nth-of-type(6) {
    margin-bottom: 3.75rem;
  }

  .bankruptcy__pagination {
    width: 33%;
  }
}

/* Successes styles */
.successes {
  background-color: var(--color-accent);
}

.successes__container {
  position: relative;
}

.successes__title {
  margin-bottom: 0.75em;
}

.successes__description {
  margin-bottom: 2.666em;
}

.successes__slide {
  min-width: calc(100% / 3);
}

.successes__wrap {
  position: relative;
  cursor: pointer;
}

.successes__wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(58, 88, 150, 0.77) url('../images/zoom-in.svg') center no-repeat;
  opacity: 0;
  transition: all 0.3s linear;
}

.successes__img {
  width: 16.375rem;
  height: 21.875rem;
  object-fit: cover;
}

.successes__icon {
  width: 1.313rem;
  height: 2.5rem;
  fill: var(--color-dark);
  opacity: 0.2;
  transition: all 0.3s linear;
}

@media screen and (min-width: 992px) {
  .successes__wrap:hover::before {
    opacity: 1;
  }

  .successes__arrow:hover .successes__icon {
    fill: var(--color-dark);
    opacity: 1;
  }

  .successes__container::after {
    position: absolute;
    top: -13.75rem;
    right: -10.937rem;
    content: url('../images/successes/emblem.png');
  }
}

@media screen and (max-width: 991px) {
  .successes__slide {
    min-width: 50%;
  }
}

@media screen and (max-width: 575px) {
  .successes__slide {
    min-width: 100%;
  }
}

/* Warranty styles */
.warranty__container {
  position: relative;
}

.warranty__title {
  margin-bottom: 1.75em;
}

.warranty__form {
  max-width: 50.625rem;
  margin-left: auto;
  margin-right: auto;
}

.warranty__button {
  margin-left: 2.142em;
}

@media screen and (min-width: 992px) {
  .warranty__container::after {
    position: absolute;
    bottom: -6.437rem;
    right: -6.562rem;
    content: url('../images/warranty/hammer.png');
  }
}

@media screen and (max-width: 575px) {
  .warranty__button {
    margin-left: 0;
    margin-top: 1.071em;
  }
}

/* Contacts styles */
.contacts {
  position: relative;
  padding-bottom: 8.125rem;
  background: url('../images/contacts/map.jpg') center / cover no-repeat;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 38.438rem;
  padding: 5rem 5rem 11.25rem;
  margin-left: auto;
  margin-right: auto;
  background: url('../images/contacts/contacts-bg.png') top center / contain no-repeat;
}

.contacts__description {
  max-width: 11.363em;
  margin-bottom: 1.818em;
  color: var(--color-second);
  font-family: var(--font-text);
  font-size: 1.375rem;
  font-weight: 700;
  font-style: italic;
  line-height: 1.45;
  text-align: center;
}

.contacts__address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__city {
  font-family: var(--font-additional);
  font-weight: 300;
  font-style: normal;
  margin-bottom: 1.375em;
  text-align: center;
}

.contacts__tel {
  color: var(--color-dark);
  font-family: var(--font-additional);
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  transition: color 0.3s linear;
}

.contacts__form {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50.625rem;
  width: 100%;
  padding: 3.125rem;
  border: none;
  background-color: var(--color-light);
  box-shadow: 0 1.063rem 3.375rem rgba(0, 0, 0, 0.06);
}

.contacts__wrap {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.contacts__subtitle {
  font-family: var(--font-text);
  max-width: 11.875em;
  margin-top: 0;
  line-height: 1.5;
}

@media screen and (min-width: 992px) {
  .contacts__tel:hover {
    color: var(--color-second);
  }
}

@media screen and (max-width: 575px) {
  .contacts__subtitle {
    margin-bottom: 0.937em;
  }

  .contacts__button {
    margin-top: 1.071em;
  }
}

/* Footer styles */
.footer {
  padding-top: 8.125rem;
  padding-bottom: 1.875rem;
  background-color: #fefefe;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__requisites {
  display: flex;
  flex-direction: column;
}

.footer__span {
  font-family: var(--font-additional);
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.33;
}

.footer__tel {
  color: var(--color-dark);
  font-family: var(--font-title);
  font-size: 1.125rem;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  transition: color 0.3s linear;
}

@media screen and (min-width: 992px) {
  .footer__tel:hover {
    color: var(--color-second);
  }
}

@media screen and (max-width: 575px) {
  .footer {
    padding-top: 12.125rem;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__requisites {
    align-items: center;
    margin-bottom: 1.071em;
  }
  
  .footer__tel {
    margin-top: 0.833em;
  }
}

/* Popup styles */
.popup__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  transition: all 0.3s linear;
}

.popup__wrapper--active {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 25rem;
  width: 90%;
  background-color: var(--color-light);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}

.popup__content--callback {
  transform: translate(-50%, -75%);
}

.popup__content--thanks {
  padding: 2.125rem;
  transform: translate(-50%, -25%);
  outline: 0.5rem solid var(--color-second);
}

.popup__content--personal-data {
  padding: 2.125rem;
  transform: translate(-50%, -25%);
  outline: 0.5rem solid var(--color-second);
}

.popup__content--successes {
  transform: translate(-50%, -75%);
  padding: 2.125rem;
  outline: 0.5rem solid var(--color-second);
}

.popup__img {
  width: 21.833rem;
  height: 29.166rem;
  object-fit: cover;
}

.popup__content--active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}

.popup__form {
  padding: 2.125rem;
}

.popup__button {
  margin-top: 1em;
}

.popup__title {
  margin-bottom: 0;
  font-family: var(--font-text);
  font-size: 1.375rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin-bottom: 1.363em;
}

.popup__text {
  font-family: var(--font-text);
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  margin-top: 1.25em;
}

.popup__close {
  position: absolute;
  top: 0.625rem;
  right: 0.312rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.popup__icon {
  width: 1.875rem;
  height: 1.875rem;
  fill: var(--color-active);
  transition: fill 0.3s linear;
}

.popup__list {
  max-height: 12.5rem;
  overflow-y: scroll;
}

.popup__subtitle {
  font-family: var(--font-title);
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
}

.popup__subtitle:not(:first-of-type) {
  margin-top: 0.937em;
}

.popup__item, .popup__span {
  font-family: var(--font-additional);
  font-size: 0.813rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.23;
  margin-top: 0.769em;
  display: block;
}

.popup__list {
  counter-reset: list1;
}

.popup__subtitle::before {
  counter-increment: list1;
  content: counter(list1) ". ";
}

.popup__sublist {
  counter-reset: list2;
}

.popup__item:before {
  counter-increment: list2;
  content: counter(list1) "." counter(list2) ". ";
}

@media screen and (min-width: 992px) {
  .popup__close:hover .popup__icon {
    fill: var(--color-dark);
  }
}

/* Preload styles */
.sk-three-bounce {
  max-height: 0.874rem;
  margin: 0 auto;
  text-align: center;
}

.sk-three-bounce .sk-child {
  width: 0.874rem;
  height: 0.874rem;
  background-color: var(--color-light);
  border-radius: 100%;
  display: inline-block;
  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sk-three-bounce .sk-bounce-1 {
  animation-delay: -0.32s;
}

.sk-three-bounce .sk-bounce-2 {
  animation-delay: -0.16s;
}

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}